:root{
  --alice-blue: #F8F9FA;
  --alice-blue-light: #F0F8FF;
  --black: #000000;
  --black-russian: #202124;
  --gray94: #F0F0F0;
  --hawkes-blue: #DADCE0;
  --gainsboro: #DBD9D9;
  --raven: #70757A;
  --whisper: #EEEEEE;
  --white: #FFFFFF;
  --white-smoke: #F2F2F2;
}